<template>
  <div class="data-cleaning-container">
    <h1>Nettoyage des Données</h1>

    <section class="section">
      <h2>Introduction au Nettoyage des Données</h2>
      <p>
        Le netoyage des données est nécessaire afin de pouvoir utiliser un jeu
        de donnée à son plein potentiel, il est donc nécessaire de retirer des
        colonnes ou des lignes, de regrouper des données dans des catégories
        moins large ou de repasser sur des données mal écrite ou abstraite.
      </p>
    </section>

    <section class="section">
      <h2>Étapes Clés du Nettoyage des Données</h2>
      <ul>
        <li>
          Collecte des données: Rassemblez toutes les données nécessaires à
          partir de différentes sources, en veillant à avoir une compréhension
          claire de ce que chaque variable représente.
        </li>
        <li>
          Exploration initiale: Examinez rapidement le jeu de données pour
          identifier les caractéristiques principales, telles que la taille du
          jeu de données, le nombre de variables, les types de données, etc.
        </li>
        <li>
          Gestion des valeurs manquantes: Identifiez et gérez les valeurs
          manquantes dans le jeu de données. Vous pouvez soit supprimer les
          lignes ou les colonnes concernées, soit les remplir avec des valeurs
          appropriées.
        </li>
        <li>
          Gestion des valeurs aberrantes: Recherchez les valeurs aberrantes
          (outliers) qui peuvent fausser les analyses. Vous pouvez les détecter
          à l'aide de méthodes statistiques ou de visualisations, puis décider
          de les corriger ou de les supprimer.
        </li>
        <li>
          Traitement des doublons: Recherchez et éliminez les doublons,
          c'est-à-dire les enregistrements identiques ou presque identiques qui
          peuvent introduire des biais dans les analyses.
        </li>
        <li>
          Normalisation et standardisation: Si nécessaire, normalisez ou
          standardisez les variables pour mettre toutes les données à la même
          échelle.
        </li>
      </ul>
    </section>

    <section class="section">
      <h2>Exemple concret de Nettoyage des Données</h2>
      <h3>Colonnes supprimées</h3>
      <p>
        Pour notre analyse, nous avons déterminés que certaines colonnes
        pouvaient être supprimés car elles ne nous seront pas utiles. Ce sont
        les colonnes suivantes :
      </p>
      <ul>
        <li>
          <p>
            Location, qui donne une localisation plus précise de l'attaque
            qu'"Area". Cette donnée est intéressante, cependant, il y a trop peu
            de redondances pour en tirer quelque chose. En effet, la grande
            majorité de ces données ne sont présente qu'en une seule itération
            dans le jeu de données. Nous avons donc préféré nous baser sur
            "Area", qui est moins précis, mais avec des localisations que nous
            retrouvons souvent dans plusieurs attaques, comme "Florida".
          </p>
        </li>
        <li>
          Name, qui est le nom de la personne qui s'est faite attaquée. Cette
          information n'est pas pertinente, nous n'avons pas l'utilité du nom de
          la victime et il n'y pas de recherche pertinente à faire dessus.
        </li>
        <li>
          Sex, comme pour "Name", n'est pas une donnée pertinente dans le cadre
          des attaques de requins, nous ne pensons pas pouvoir en tirer une
          analyse pertinente.
        </li>
        <li>
          Les colonnes "Investigator or Source", "pdf", "href formula", "Case
          Number", "original order" sont des informations sur le nom de la
          personne qui a répertorié l'attaque, le lien du pdf sur cette attque,
          le numéro du cas, etc. Ce sont des informations qui ne nous seront pas
          utiles dans notre analyse, donc nous ne les avons pas gardées.
        </li>
      </ul>
      <h3>Nettoyage Country</h3>
      <p>
        On a nettoyé la colonne Country car plusieurs entrée n'étaient pas
        correctes ou faisaient réference à 2 pays, nous avons également du gèrer
        la nomenclature accepter par notre bibliothèque de géneration de graphe
        qui ne prenait pas en compte certains territoires, nous avons classé ces
        données dans la catégorie "Autres".
      </p>
      <h3>Nettoyage de la colonne "Age"</h3>
      <p>
        La colonne Age donne l'âge de la victime, les données n'étaient pas
        harmonisées. Il y avait des valeurs numériques entières, avec des
        décimales, et certains âges étaient du texte, comme "adult", "child",
        "young". Nous remplacer toutes ces valeurs par des entiers, par exemple
        pour "child", nous avons décidé de mettre l'âge à 8, à 30 pour "adult",
        par exemple. Aussi, il y avait parfois des plages d'âge, si on avait par
        exemple "between 20 and 25", nous avons mit 23, pour avoir une valeur
        d'âge cohérente. Nous avions besoin d'avoir des données harmonisées afin
        de pouvoir exploiter les données sur l'âge.
      </p>
      <h3>Nettoyage Time</h3>
      <p>
        les données pour cette colonne étaient initialement présenté sous le
        format horaire et une autre partie sous la forme de moment de la
        journée, nous avons donc décidé de passer toutes les données sous la
        forme de moments de la journée pour simplifier la recherche et réduire
        le nombres d'individus, voici les moments de la journée choisies et les
        plages horaires qu'ils prennent en compte:
      </p>
      <ul>
        <li>null: toutes les cellule où il n'y avait pas de donnée</li>
        <li>matin : les heures comprises entre 6 et 12h (exclu)</li>
        <li>midi : les heures comprises entre 12 et 14h (exclu)</li>
        <li>après-midi: les heures comprises entre 14 et 18h (exclu)</li>
        <li>soir: les heures comprises entre 18 et 24h (exclu)</li>
        <li>nuit: les heures comprises entre 24 et 6h (exclu)</li>
      </ul>
      <h3>Nettoyage Injury -> injury_grouper</h3>
      <p>
        la liste des blessures présente initialement dans notre data set, étant
        trop diverses, nous avons préferer localiser les blessures à des parties
        du corps pour les blessures dans une zone précises et regrouper les
        autre état dans des catégories séparés quand cela était possible, il a
        également été nécessaire de faire une recherche plus poussé sur les
        données car la syntaxe de certaines données n'étaient pas constantes ou
        comportait des erreurs d'orthographe, voici les catégorie choisies et
        les mots inclues dans cette catégorie:
      </p>
      <ul>
        <li>
          Bras = ["arm", "forearm", "elbow", "wrist", "bicep", "forearm",
          "wrist/hand","Hand/elbow","Arm", "arm", "forearm", "Forearm", "Elbow",
          "elbow", "wrist", "Wrist", "Bicep", "bicep", "Wrist/Hand",
          "wrist/Hand", "Wrist/hand", "Hand/elbow", "hand/Elbow", "Hand/Elbow"]
        </li>
        <li>Épaule = ["shoulder","Shoulder"]</li>
        <li>
          Main = ["palm", "fingernail","hand", "fingers", "fingertips",
          "thumb","Forefinger","Palm", "palm", "Fingernail", "fingernail",
          "Hand", "hand", "Fingers", "fingers", "Fingertips", "fingertips",
          "Thumb", "thumb", "Forefinger", "forefinger"]
        </li>
        <li>
          Jambe = ["Leg", "leg", "Thigh", "thigh", "Knee", "knee", "Calf",
          "calf", "Ankle", "ankle", "Feet", "feet", "foot", "Foot", "Toes",
          "toes", "heel", "Heel", "Shin", "shin", "kneecap", "Kneecap",
          "quadriceps", "Quadriceps", "Hamstring", "hamstring", "achilles",
          "Achilles", "Femoral", "femoral", "Leg", "leg", "hips", "Hips"]
        </li>
        <li>
          Torse = ["torso", "Torso", "chest", "Chest", "Breast", "breast",
          "abdominal", "Abdominal", "Pectoral", "pectoral", "Spine", "spine",
          "back", "Back", "Buttocks", "buttocks", "hip", "Hip", "pelvis",
          "Pelvis", "Lumbar", "lumbar", "Sternum", "sternum", "Dorsum",
          "dorsum", "Posterior", "posterior", "Flank", "flank", "Body", "body",
          "Abdomen", "abdomen", "belly", "Belly", "navel", "Navel"]
        </li>
        <li>
          Partie_intime = ["genitals", "penis","testicle","Genitals",
          "Penis","Testicle"]
        </li>
        <li>
          Tête = ["eye", "Eye", "head", "Head", "skull", "Skull", "Face",
          "face", "cheek", "Cheek", "Jaw", "jaw", "forehead", "Forehead", "Ear",
          "ear", "nose", "Nose", "mouth", "Mouth", "Lips", "lips", "Teeth",
          "teeth", "Nostril", "nostril", "tooth", "Tooth", "Ear", "ear",
          "shins", "Shins"]
        </li>
        <li>
          Cou = ["neck", "throat", "Adam’s apple","Neck", "Throat", "Adam’s
          Apple","adam’s Apple","adam’s apple"]
        </li>
        <li>
          Os_et_articulations = ["bones", "joints", "radius", "ulna", "spine",
          "vertebrae", "cord","spinal","Bones", "Joints", "Radius", "Ulna",
          "Spine", "Vertebrae", "Cord","Spinal"]
        </li>
        <li>
          Blessures = ["lacerations", "bruises", "lashes", "cuts", "slashes",
          "punctures",
          "wounds","lacerattions","punctured","decapitated","punctured","Lacerations",
          "Bruises", "Lashes", "Cuts", "Slashes", "Punctures",
          "Wounds","Lacerattions","Punctured","Decapitated","Punctured"]
        </li>
        <li>
          Muscles = ["muscles", "tendons", "ligaments", "flesh",
          "nerves","lung","Muscles", "Tendons", "Ligaments", "Flesh",
          "Nerves","Lung"]
        </li>
        <li>
          Système_vasculaire = ["heart", "blood vessels","nerve","Heart", "Blood
          vessels","Nerve","blood Vessels","Blood Vessels"]
        </li>
        <li>Fatal = ["fatal","FATAL","Fatal"]</li>
        <li>
          NoInjury = ["No injury","no injury","No Injury","Not injured","no
          Injury","No injuries"]
        </li>
        <li>Survived = ["Survived","survived"]</li>
        <li>Null = ["null","Null"]</li>
      </ul>
      <h3>Nettoyage de la colonne "Species"</h3>
      <p>
        La colonne species spécifie l'espèce du requin qui a attaqué. Cependant,
        les données n'ayant pas toutes la même forme, il a fallu travailler
        dessus pour avoir des noms d'espèces cohérents. Sous excel, nous avons
        pu identifier les données qui posaient problèmes, et voici quelques
        exemple de ce que nous avons eu :
      </p>
      <ul>
        <li>
          Des erreurs d'orthographes dans les noms des espèces, par exemple :
          "Whlte Shark" au lieu de "White Shark" Des noms d'espèces avec des
          articles : "A White Shark" au lieu de "White Shark"
        </li>
        <li>
          La taille du requin à côté de son nom : "White Shark 5'" au lieu de
          "White Shark"
        </li>
        <li>
          Différents noms pour parler de la même espèce, par exemple Zambezi
          Shark et Bull Shark, qui représentent la même espèce, le requin
          bouledogue
        </li>
        <li>
          Le nombre de requins dans le nom de l'espèce : "Two Tigershark" au
          lieu de "Tigershark"
        </li>
        <li>
          Des mots dans le nom de l'espace comme : "Tigershark involved" au lieu
          de "Tigershark"
        </li>
      </ul>
      <p>
        Il a donc fallu harmoniser les données, pour réduire le nombre d'espèces
        différentes. En effet, "A White Shark", "White Shark 5'" et "White Shark
        involved" représente la même donnée : "White Shark". Nous avons donc
        décidé que cette colonne ne devait contenir que l'espèce du requin,
        comme ceci : "White Shark", "Mako Shark",etc.
      </p>
      <h3>Nettoyage activity -> activite_groupe</h3>
      <p>
        es activités représentés initialement dans le excel étant trop diverse
        (1000+ activités uniques) et peu exploitable du à des activités trop
        précise ou inutile, nous avons décidé de regrouper ces activités en une
        dizaines de catégories afin d'avoir un jeu de données plus exploitable
        et pouvoir correctement cerné les activité des personnes ayant été
        attaqué par un requin, vous pouvez voir ci-dessous la liste des
        catégories et leurs description:
      </p>
      <ul>
        <li>
          Natation et Plongée: Comprend "Swimming", "Snorkeling", "Scuba
          diving", "Freediving", et d'autres formes de natation ou de plongée.
          Cette catégorie englobe toutes les activités où la natation ou la
          respiration sous-marine est centrale.
        </li>
        <li>
          Pêche: Regroupe "Fishing", "Spearfishing", "Fishing for sharks", et
          d'autres activités de pêche. Cette catégorie est dédiée aux activités
          de capture de poissons ou d'autres créatures marines.
        </li>
        <li>
          Sports Aquatiques: Inclut les activités relié à des sports comme le
          Surf, le Kayak ou le Paddle.
        </li>
        <li>
          Accidents et Catastrophes: Regroupe des événements comme "Plane
          crashed in water", "Boat accident", "Shipwrecked". Cette catégorie est
          pour les activités liées à des accidents ou des situations de crise.
        </li>
        <li>
          Activités de Rivage: Inclut des activités comme "Standing", "Walking
          along the beach", "Playing on the shore". Ces activités se déroulent
          sur le rivage ou dans des eaux peu profondes.
        </li>
        <li>
          Bain et détente:Comprend "Bathing", "Sitting in bow of boat",
          "Sunbathing", etc. Ces activités sont généralement passives et
          impliquent de se détendre près ou dans l'eau.
        </li>
        <li>
          Autre: Comprend les activités qui ne rentraient pas dans une catégorie
          définie.
        </li>
        <li>
          Null: Comprend les celulles dont l'activité n'était pas renseigné.
        </li>
        <li>
          Activités Nautiques Professionelles: Inclut des activités comme
          "Commercial Salvage Diving", "Longline fishing", qui sont effectuées
          dans un cadre professionnel plutôt que de loisir.
        </li>
        <li>
          Observation et Interaction avec la Faune: Comprend des activités comme
          "Whale watching", "Interacting with marine life", "Petting a shark".
          Cette catégorie est pour ceux qui interagissent ou observent la vie
          marine.
        </li>
        <li>
          Recherche Scientifique: Comprend les activités qui consiste à étudier
          les espèces sous marine ou le comportement des requins.
        </li>
        <li>
          Sauvetage: Comprend les activités relié au sauvetage d'une personne.
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.data-cleaning-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;
}

.section {
  margin-bottom: 20px;
}

h1 {
  color: #007bff;
  margin-bottom: 15px;
}

h2 {
  color: #0056b3;
  margin-bottom: 10px;
}

p,
li {
  color: #333;
  line-height: 1.6;
}

ul {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .data-cleaning-container {
    padding: 15px;
  }
}
</style>
