<template>
  <div class="card-container">
    <div class="card-row">
      <div class="card horizontal-card">
        <div ref="graphContainer1" class="graph-container"></div>
      </div>
      <button @click="toggleDescription(1)" class="button">Description</button>
      <div v-show="showDescriptions[1]" class="description">
        Cette carte mondiale illustre de manière quantitative l'incidence des
        attaques de requins sur différents pays, avec une échelle de couleurs
        allant du jaune au rouge, représentant une augmentation du nombre
        d'attaques. Les zones non colorées indiquent l'absence de données ou de
        cas recensés. Les États-Unis se distinguent avec le plus grand nombre
        d'attaques enregistrées, totalisant 2 524 incidents, suivis de près par
        l'Australie avec 1 466 cas et l'Afrique du Sud avec 597 cas. Cette
        visualisation permet non seulement de repérer les zones à risque.
      </div>
    </div>
    <div class="card-row">
      <div class="card horizontal-card">
        <div ref="graphContainer2" class="graph-container"></div>
      </div>
      <button @click="toggleDescription(2)" class="button">Description</button>
      <div v-show="showDescriptions[2]" class="description">
        Cet histogramme vertical révèle le nombre d'attaques de requins
        recensées par zone côtière, mettant en évidence les régions les plus
        affectées sur la base des données collectées. La Floride émerge comme
        l'épicentre de ces incidents, avec un nombre d'attaques surpassant
        nettement les autres régions, suivie par la Nouvelle-Galles du Sud et le
        Queensland en Australie. Les données couvrent un large spectre
        géographique incluant les côtes américaines, australiennes, africaines
        et néo-zélandaises, ainsi que le Brésil, offrant un aperçu comparatif
        précis. Chaque barre bleue représente visuellement la fréquence des
        attaques, soulignant les tendances régionales.
      </div>
    </div>
    <div class="card-row">
      <div class="card horizontal-card">
        <div ref="graphContainer4" class="graph-container"></div>
      </div>
      <button @click="toggleDescription(3)" class="button">Description</button>
      <div v-show="showDescriptions[3]" class="description">
        Cette visualisation tridimensionnelle en nuage de points illustre
        l'évolution des attaques de requins par zone géographique de 1850 à nos
        jours. Chaque point coloré représente une région spécifique, avec la
        couleur et la hauteur du point indiquant le nombre d'attaques pendant
        une année donnée. On observe une densité particulière de points
        au-dessus de la Floride (marquée en marron), indiquant une augmentation
        notable des attaques après les années 1980. La Nouvelle-Galles du Sud
        montre également une tendance croissante, devenant la deuxième région la
        plus affectée après les années 80. Cette hausse peut être corrélée avec
        l'intensification des activités nautiques, telles que le surf, qui s’est
        démocratisé.
      </div>
    </div>
    <div class="card-row">
      <div class="card horizontal-card">
        <div ref="graphContainer3" class="graph-container"></div>
      </div>
      <button @click="toggleDescription(4)" class="button">Description</button>
      <div v-show="showDescriptions[4]" class="description">
        Ce graphique tridimensionnel en nuage de points capture la fréquence des
        attaques de requins par espèce de 1850 à l'époque actuelle. Les
        différentes couleurs représentent les espèces distinctes de requins,
        avec le requin tigre, le requin bouledogue et le grand requin blanc
        montrant une prédominance marquée dans les incidents d'attaques. On note
        que ces trois espèces montrent une augmentation notable des attaques au
        fil du temps. Les points plus élevés dans le graphique indiquent une
        plus grande fréquence d'attaque pour une année donnée, soulignant ainsi
        les périodes et les espèces spécifiques de requins associées à un risque
        accru pour l'homme. La prédominance de ces trois espèces met en évidence
        leur interaction plus fréquente et potentiellement plus dangereuse avec
        les humains, par rapport aux autres espèces de requins.
      </div>
    </div>
    <div class="card-row">
      <div class="card horizontal-card">
        <div ref="graphContainer6" class="graph-container"></div>
      </div>
      <button @click="toggleDescription(5)" class="button">Description</button>
      <div v-show="showDescriptions[5]" class="description">
        Ce diagramme en anneau coloré représente la répartition des types de
        blessures subies lors d'attaques de requins. Il met en évidence que la
        majorité des blessures se situent au niveau des jambes, constituant
        52.8% des cas, suivies par les bras à 11.4%. Les blessures aux mains et
        au torse représentent respectivement 9.3% et 5.8% des cas. Les autres
        types de blessures, incluant la tête, l'épaule, les blessures diverses,
        les os et articulations, et les muscles, forment le reste des incidents
        avec des pourcentages plus faibles. Ce diagramme illustre clairement que
        les extrémités sont plus fréquemment ciblées lors des attaques de
        requins, ce qui est probablement dû à leur exposition pendant des
        activités comme la natation et le surf.
      </div>
    </div>
    <div class="card-row">
      <div class="card horizontal-card">
        <div ref="graphContainer5" class="graph-container"></div>
      </div>
      <button @click="toggleDescription(6)" class="button">Description</button>
      <div v-show="showDescriptions[6]" class="description">
        Ce graphique en barres compare les issues fatales et non fatales des
        attaques de requins en fonction de différentes espèces. Les barres
        bleues représentent les attaques non mortelles tandis que les barres
        rouges indiquent les attaques mortelles. Le graphique démontre que le
        grand requin blanc, le requin tigre et le requin bouledogue sont les
        trois espèces avec le plus grand nombre d'attaques mortelles, ce qui les
        place parmi les espèces les plus dangereuses pour l'homme. En
        particulier, le grand requin blanc se distingue par le plus grand nombre
        d'attaques mortelles. D'autres espèces, telles que les requins nourrice,
        à pointe noire, de récif, baleine et mako, présentent un nombre
        significativement plus faible d'attaques mortelles.
      </div>
    </div>
    <div class="card-row">
      <div class="card horizontal-card">
        <div ref="graphContainer7" class="graph-container"></div>
      </div>
      <button @click="toggleDescription(7)" class="button">Description</button>
      <div v-show="showDescriptions[7]" class="description">
        Ce graphique en barres horizontales présente le type de blessure le plus
        fréquent subi lors d'attaques de requins en fonction de différentes
        catégories d'âge. Il révèle que les blessures aux jambes sont les plus
        courantes chez les adolescents, tandis que les catégories des jeunes
        adultes, adultes et enfants sont principalement affectées par d'autres
        types de blessures. Les séniors, quant à eux, sont significativement
        plus susceptibles de subir des blessures fatales.
      </div>
    </div>
    <div class="card-row">
      <div class="card horizontal-card">
        <div ref="graphContainer8" class="graph-container"></div>
      </div>
      <button @click="toggleDescription(8)" class="button">Description</button>
      <div v-show="showDescriptions[8]" class="description">
        Ce graphique tridimensionnel présente le lien entre le nombre d'attaques
        de requins, l'heure de la journée et le type d'activité nautique
        pratiquée. Les axes représentent respectivement l'heure (jour/nuit), le
        type d'activité (comme la natation, le surf, la pêche, etc.), et le
        nombre d'attaques recensées. Les bulles de différentes tailles indiquent
        la fréquence des attaques pour chaque combinaison d'activité et de
        moment de la journée. Les activités réalisées en pleine journée, en
        particulier les sports aquatiques, semblent être associées au plus grand
        nombre d'attaques. En contraste, les activités nocturnes présentent
        moins de cas, possiblement dû à la réduction des activités humaines dans
        l'eau pendant ces heures.
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, ref, reactive } from "vue";
import axios from "axios";
import Plotly from "plotly.js-dist-min";

export default {
  name: "DataChart",
  setup() {
    const graphContainer1 = ref(null);
    const graphContainer2 = ref(null);
    const graphContainer3 = ref(null);
    const graphContainer4 = ref(null);
    const graphContainer5 = ref(null);
    const graphContainer6 = ref(null);
    const graphContainer7 = ref(null);
    const graphContainer8 = ref(null);

    const showDescriptions = reactive({
      1: false,
      2: false,
      3: false,
      4: false,
      5: false,
      6: false,
      7: false,
      8: false,
    });

    const toggleDescription = (graphNumber) => {
      showDescriptions[graphNumber] = !showDescriptions[graphNumber];
    };

    const fetchData = async () => {
      try {
        const response = await axios.get("http://localhost:3000/data");
        renderChart(response.data);
      } catch (error) {
        console.error("Error fetching data:", error);
      }
    };

    const renderChart = (data) => {
      const customColorscale = [
        [0, "yellow"],
        [1, "red"],
      ];
      //graphique 1
      const trace1 = {
        type: "choropleth",
        locationmode: "country names",
        locations: data.Country.map((item) => item.Country),
        z: data.Country.map((item) => item.count),
        text: data.country,
        colorscale: customColorscale,
        autocolorscale: false,
        colorbar: {
          title: "Nombre d'attaques",
        },
      };

      const layout1 = {
        title: "Impact des Attaques de Requins par Pays",
        geo: {
          projection: {
            type: "robinson",
          },
        },
        autosize: true,
      };
      Plotly.newPlot(graphContainer1.value, [trace1], layout1);

      //graphique 2
      const trace2 = {
        x: data.Area.map((item) => item.Area).slice(0, 20),
        y: data.Area.map((item) => item.count),
        type: "bar",
        marker: {
          color: "blue",
        },
      };
      const layout2 = {
        title: "Villes les plus attaqués",
        xaxis: { title: "Villes" },
        yaxis: { title: "Nombre d'attaques" },
      };
      Plotly.newPlot(graphContainer2.value, [trace2], layout2);

      //graphique 3
      const areaColors1 = {};
      const distinctColors1 = [
        "yellow",
        "blue",
        "red",
        "orange",
        "purple",
        "green",
        "pink",
        "brown",
        "cyan",
        "magenta",
        "lime",
        "teal",
        "indigo",
        "lavender",
        "gold",
        "salmon",
        "violet",
        "turquoise",
        "sienna",
        "orchid",
      ];

      // Parcourez vos données pour attribuer une couleur unique à chaque "Area" (ville)
      data.SharkYear.forEach((item) => {
        if (!areaColors1[item.Cleaned_Species]) {
          // Associez la prochaine couleur distincte à l'Area
          areaColors1[item.Cleaned_Species] = distinctColors1.pop();
        }
      });

      // Créez les traces pour chaque "Area" avec la couleur correspondante
      const trace3 = data.SharkYear.map((item) => ({
        x: [item.Year],
        y: [item.Cleaned_Species],
        z: [item.count],
        type: "scatter3d",
        mode: "lines+markers",
        name: item.Cleaned_Species,
        line: {
          color: areaColors1[item.Cleaned_Species], // Utilisez la couleur associée à l'Area
          width: 3,
        },
      }));

      // Mise en forme du layout du graphique 3D
      const layout3D1 = {
        title: "Attaques de requins au fil du temps selon l'espèce",
        scene: {
          xaxis: { title: "Année" },
          yaxis: { title: "Espèces" },
          zaxis: { title: "Nombre d'attaques" },
        },
      };

      // Créez le graphique 3D avec les traces
      Plotly.newPlot(graphContainer3.value, trace3, layout3D1);

      //graphique 4
      const areaColors = {};
      const distinctColors = [
        "yellow",
        "blue",
        "red",
        "orange",
        "purple",
        "green",
        "pink",
        "brown",
        "cyan",
        "magenta",
        "lime",
        "teal",
        "indigo",
        "lavender",
        "gold",
        "salmon",
        "violet",
        "turquoise",
        "sienna",
        "orchid",
      ];

      // Parcourez vos données pour attribuer une couleur unique à chaque "Area" (ville)
      data.YearArea.forEach((item) => {
        if (!areaColors[item.Area]) {
          // Associez la prochaine couleur distincte à l'Area
          areaColors[item.Area] = distinctColors.pop();
        }
      });

      // Créez les traces pour chaque "Area" avec la couleur correspondante
      const trace4 = data.YearArea.map((item) => ({
        x: [item.Year],
        y: [item.Area],
        z: [item.count],
        type: "scatter3d",
        mode: "lines+markers",
        name: item.Area,
        line: {
          color: areaColors[item.Area], // Utilisez la couleur associée à l'Area
          width: 3,
        },
      }));

      // Mise en forme du layout du graphique 3D
      const layout3D2 = {
        title: "Attaques de requins au fil du temps selon les villes",
        scene: {
          xaxis: { title: "Année" },
          yaxis: { title: "Ville" },
          zaxis: { title: "Nombre d'attaques" },
        },
      };

      // Créez le graphique 3D avec les traces
      Plotly.newPlot(graphContainer4.value, trace4, layout3D2);

      //graphique 5 3d vision
      const traceNonFatal = {
        x: data.topSpeciesArray.map((item) => item.Cleaned_Species),
        y: data.topSpeciesArray.map((item) => item.N),
        z: Array(data.topSpeciesArray.length).fill(1),
        type: "bar", // Utilisez 'bar' pour le graphique à barres 3D
        name: "Non Fatal",
        marker: {
          color: "rgba(100,149,237,0.6)", // Bleu clair semi-transparent
          line: {
            color: "blue",
            width: 1,
          },
        },
      };

      const traceFatal = {
        x: data.topSpeciesArray.map((item) => item.Cleaned_Species),
        y: data.topSpeciesArray.map((item) => item.Y),
        z: Array(data.topSpeciesArray.length).fill(2),
        type: "bar", // Utilisez 'bar' pour le graphique à barres 3D
        name: "Fatal",
        marker: {
          color: "rgba(255,69,0,0.6)", // Rouge semi-transparent
          line: {
            color: "darkred",
            width: 1,
          },
        },
      };

      const layout5 = {
        title: "Fatalité des Attaques en Fonction des Espèces de Requin",
        barmode: "group",
        scene: {
          xaxis: {
            title: "Espèce de Requin",
            gridcolor: "grey",
            zerolinecolor: "grey",
          },
          yaxis: {
            title: "Nombre d'Attaques",
            gridcolor: "grey",
            zerolinecolor: "grey",
          },
          zaxis: {
            title: "",
            gridcolor: "grey",
            zerolinecolor: "grey",
          },
          camera: {
            eye: { x: 2, y: 2, z: 0.5 }, // Ajustez pour une meilleure vue en 3D
          },
        },
      };

      Plotly.newPlot(
        graphContainer5.value,
        [traceNonFatal, traceFatal],
        layout5
      );
      /*** graphique 7*/

      const trace7 = {
        x: data.countInjuryGrouperBy.map((item) => item.Age_Category),
        y: data.countInjuryGrouperBy.map((item) => item.injury_grouper),
        z: data.countInjuryGrouperBy.map((item) => item.Count),
        type: "bar", // Utilisez 'bar' pour le graphique à barres 3D
        marker: {
          color: "rgba(255,69,0,0.6)", // Rouge semi-transparent
          line: {
            color: "darkred",
            width: 1,
          },
        },
      };

      const layout7 = {
        scene: {
          xaxis: { title: "Age Category" },
          yaxis: { title: "Injury Grouper" },
          zaxis: { title: "Count" },
          camera: {
            eye: { x: 1.5, y: 1.5, z: 1.2 }, // Position de la caméra
          },
        },
        margin: {
          l: 50,
          r: 50,
          b: 50,
          t: 50,
        },
      };

      Plotly.newPlot(graphContainer7.value, [trace7], layout7);

      //graphique 6
      const trace6 = {
        labels: data.Injury.map((item) => item.injury_grouper).slice(0, 10),
        values: data.Injury.map((item) => item.count),
        type: "pie",
        hole: 0.4, // Réglage pour un Donut Chart
        textinfo: "percent",
        insidetextorientation: "radial",
      };
      const layout6 = {
        title: "Top 10 des Blessures les Plus Courantes",
        showlegend: true,
        legend: { orientation: "h", x: 0, y: -0.5 },
      };
      Plotly.newPlot(graphContainer6.value, [trace6], layout6);

      //diagramme 6
      /*const trace6 = {
        x: data.Fatal.map((item) => item.Fatal),
        y: data.Fatal.map((item) => item.count),
        type: "bar",
        name: "Fatalité",
        text: data.Fatal.map((item) => item.Fatal),
        textposition: "auto",
        hoverinfo: "none",
        marker: {
          color: ["rgba(222,45,38,0.8)", "rgba(204,204,204,0.8)"],
        },
      };
      const layout6 = {
        title: "Fatalité des Attaques de Requins",
        xaxis: { title: "Mortalité" },
        yaxis: { title: "Nombre d'Attaques" },
        barmode: "stack",
      };
      Plotly.newPlot(graphContainer6.value, [trace6], layout6);

      //graphique 7
      const ageCategories = [
        "Enfants (0-9)",
        "Adolescents (10-17)",
        "Jeunes Adultes (18-35)",
        "Adultes (36-65)",
        "Seniors (>65)",
      ];

      const trace7 = ageCategories.map((category) => {
        return {
          y: data.Age.map((item) => item.count),
          x: data.Age.map((item) => item.Age).filter((age) => {
            switch (category) {
              case "Enfants (0-9)":
                return age <= 9;
              case "Adolescents (10-17)":
                return age > 9 && age <= 17;
              case "Jeunes Adultes (18-35)":
                return age > 17 && age <= 35;
              case "Adultes (36-65)":
                return age > 35 && age <= 65;
              case "Seniors (>65)":
                return age > 65;
              default:
                return false;
            }
          }),
          type: "box",
          name: category,
        };
      });

      // Configuration du septième graphique (Box Plot)
      const layout7 = {
        title:
          "Répartition des Âges des Victimes (Catégorisée par Tranche d'Âge)",
        xaxis: { title: "Victimes" },
        yaxis: { title: "Âge" },
      };
      Plotly.newPlot(graphContainer7.value, trace7, layout7);*/

      //graphique8
      const activities = data.result.map((item) => item.activite_groupe);
      const times = data.result.map((item) => item.Time);
      const counts = data.result.map((item) => item.Count);

      const trace8 = {
        x: activities,
        y: times,
        z: counts,
        mode: "markers",
        marker: {
          size: data.result.map((item) => Math.sqrt(item.Count)),
          sizemode: "diameter",
          colorscale: "Viridis",
          opacity: 0.8,
        },
        type: "scatter3d",
      };

      const layout8 = {
        title:
          "Répartition des attaques de requins par activité nautique et heure",
        scene: {
          xaxis: { title: "Activité nautique" },
          yaxis: { title: "Heure de la journée" },
          zaxis: { title: "Nombre d'attaques" },
        },
        autosize: true,
      };

      Plotly.newPlot(graphContainer8.value, [trace8], layout8);

      //graphique 3
      /*const trace3 = {
        x: data.Cleaned_Species.map((item) => item.Cleaned_Species).slice(
          0,
          20
        ),
        y: data.Cleaned_Species.map((item) => item.count),
        type: "bar",
        marker: {
          color: "rgba(255,153,51,0.6)",
          line: {
            color: "rgba(255,153,51,1.0)",
            width: 1.5,
          },
        },
      };
      const layout3 = {
        title: "Attaques par Espèce de Requins",
        xaxis: { title: "Espèce de Requin" },
        yaxis: { title: "Nombre d'Attaques" },
      };
      Plotly.newPlot(graphContainer3.value, [trace3], layout3);

      //graphique 4
      const trace4 = {
        x: data.Year.map((item) => item.Year),
        y: data.Year.map((item) => item.count),
        type: "scatter",
        mode: "lines+markers",
        line: { color: "blue" },
        marker: { color: "red" },
      };
      const layout4 = {
        title: "Tendances des attaques de requins au fil du temps",
        xaxis: {
          title: "Période",
        },
        yaxis: {
          title: "Nombre d'attaques",
        },
      };
      Plotly.newPlot(graphContainer4.value, [trace4], layout4);

      //graphique 5
      const trace5 = {
        labels: data.Injury.map((item) => item.injury_grouper).slice(0, 10),
        values: data.Injury.map((item) => item.count),
        type: "pie",
        hole: 0.4, // Réglage pour un Donut Chart
        textinfo: "percent",
        insidetextorientation: "radial",
      };
      const layout5 = {
        title: "Top 10 des Blessures les Plus Courantes",
        showlegend: true,
        legend: { orientation: "h", x: 0, y: -0.5 },
      };
      Plotly.newPlot(graphContainer5.value, [trace5], layout5);

      //diagramme 6
      const trace6 = {
        x: data.Fatal.map((item) => item.Fatal),
        y: data.Fatal.map((item) => item.count),
        type: "bar",
        name: "Fatalité",
        text: data.Fatal.map((item) => item.Fatal),
        textposition: "auto",
        hoverinfo: "none",
        marker: {
          color: ["rgba(222,45,38,0.8)", "rgba(204,204,204,0.8)"],
        },
      };
      const layout6 = {
        title: "Fatalité des Attaques de Requins",
        xaxis: { title: "Mortalité" },
        yaxis: { title: "Nombre d'Attaques" },
        barmode: "stack",
      };
      Plotly.newPlot(graphContainer6.value, [trace6], layout6);

      //graphique 7
      const ageCategories = [
        "Enfants (0-9)",
        "Adolescents (10-17)",
        "Jeunes Adultes (18-35)",
        "Adultes (36-65)",
        "Seniors (>65)",
      ];

      const trace7 = ageCategories.map((category) => {
        return {
          y: data.Age.map((item) => item.count),
          x: data.Age.map((item) => item.Age).filter((age) => {
            switch (category) {
              case "Enfants (0-9)":
                return age <= 9;
              case "Adolescents (10-17)":
                return age > 9 && age <= 17;
              case "Jeunes Adultes (18-35)":
                return age > 17 && age <= 35;
              case "Adultes (36-65)":
                return age > 35 && age <= 65;
              case "Seniors (>65)":
                return age > 65;
              default:
                return false;
            }
          }),
          type: "box",
          name: category,
        };
      });

      // Configuration du septième graphique (Box Plot)
      const layout7 = {
        title:
          "Répartition des Âges des Victimes (Catégorisée par Tranche d'Âge)",
        xaxis: { title: "Victimes" },
        yaxis: { title: "Âge" },
      };
      Plotly.newPlot(graphContainer7.value, trace7, layout7);

      //graphique 8
      const trace8 = {
        x: data.Activite.map((item) => item.activite_groupe),
        y: data.Activite.map((item) => item.count),
        type: "bar",
        marker: {
          color: "rgb(158,202,225)",
          opacity: 0.6,
          line: {
            color: "rgb(8,48,107)",
            width: 1.5,
          },
        },
      };
      const layout8 = {
        title: "Les 10 Activités les Plus Dangereuses",
        xaxis: { title: "Activités" },
        yaxis: { title: "Nombre d'Attaques" },
        barmode: "group",
      };
      Plotly.newPlot(graphContainer8.value, [trace8], layout8);*/
    };

    onMounted(fetchData);

    return {
      graphContainer1,
      graphContainer2,
      graphContainer3,
      graphContainer4,
      graphContainer5,
      graphContainer6,
      graphContainer7,
      graphContainer8,
      toggleDescription,
      showDescriptions,
    };
  },
};
</script>
<style scoped>
.card-row {
  margin-bottom: 20px; /* Espacement entre les lignes */
}

.horizontal-card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%; /* Largeur de la card */
  min-height: 200px; /* Hauteur minimale */
}

.horizontal-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.graph-container {
  width: 100%; /* Utilisez toute la largeur disponible */
  height: 100%; /* Utilisez toute la hauteur disponible */
}

.button {
  display: block;
  width: 180px; /* Largeur du bouton */
  margin: 20px auto; /* Centrage et espacement */
  padding: 12px 20px; /* Espacement intérieur */
  background-color: #4caf50; /* Couleur de fond principale */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 25px; /* Bordures fortement arrondies pour un look moderne */
  cursor: pointer; /* Curseur pointeur */
  font-size: 1rem; /* Taille de la police */
  font-weight: bold; /* Police en gras */
  letter-spacing: 0.05rem; /* Espacement des lettres */
  transition: all 0.3s ease; /* Transition pour les effets de survol */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée pour la profondeur */
}

.button:hover,
.button:focus {
  background-color: #45a049; /* Changement de couleur au survol ou au focus */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée au survol */
  transform: translateY(-2px); /* Légère élévation au survol */
}

.description {
  margin-top: 5px;
  padding: 10px;
  background-color: #f8f9fa; /* Couleur de fond légère */
  border-left: 4px solid #007bff; /* Bordure gauche colorée pour l'accent */
  color: #333; /* Couleur du texte */
  text-align: left; /* Alignement du texte */
  font-size: 0.9rem; /* Taille de la police */
  line-height: 1.6; /* Hauteur de ligne */
  border-radius: 5px; /* Bordures arrondies */
}
</style>
