<template>
  <footer class="footer">
    <p>
      Projet {{ currentYear }} PISD : Alexandre RIPERT - Alexis GEOFFROY -
      Guillaume WURM
    </p>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      currentYear: new Date().getFullYear(),
    };
  },
};
</script>

<style scoped>
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}
</style>
