<template>
  <div class="formulaire-container">
    <form @submit.prevent="handleSubmit">
      <div class="form-group">
        <label for="country">Pays</label>
        <select id="country" v-model="form.country" required>
          <option disabled value="">Veuillez sélectionner un pays</option>
          <option v-for="country in countries" :key="country" :value="country">
            {{ country }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="act_group">Groupe d'Activité</label>
        <select id="act_group" v-model="form.act_group" required>
          <option disabled value="">
            Veuillez sélectionner un groupe d'activités
          </option>
          <option v-for="group in activityGroups" :key="group" :value="group">
            {{ group }}
          </option>
        </select>
      </div>

      <button type="submit">Soumettre</button>
    </form>
    <br />
    <br />
    <br />
    <div v-if="loading">Chargement...</div>
    <div v-if="message">{{ message }}</div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      form: {
        country: "",
        act_group: "",
      },
      loading: false,
      message: "",
      countries: [
        "AMERICAN SAMOA",
        "ARGENTINA",
        "ATLANTIC OCEAN",
        "AUSTRALIA",
        "BAHAMAS",
        "BARBADOS",
        "BELIZE",
        "BERMUDA",
        "BRAZIL",
        "BRITISH WEST INDIES",
        "CANADA",
        "COLOMBIA",
        "COLUMBIA",
        "COSTA RICA",
        "CROATIA",
        "CUBA",
        "ECUADOR",
        "EGYPT",
        "EL SALVADOR",
        "ENGLAND",
        "FIJI",
        "FRANCE",
        "FRENCH POLYNESIA",
        "GRAND CAYMAN",
        "GREECE",
        "GRENADA",
        "GUAM",
        "GUINEA",
        "HONG KONG",
        "INDIA",
        "INDONESIA",
        "IRAQ",
        "IRELAND",
        "ISRAEL",
        "ITALY",
        "JAMAICA",
        "JAPAN",
        "KENYA",
        "MADAGASCAR",
        "MALAYSIA",
        "MALDIVES",
        "MARSHALL ISLANDS",
        "MAURITIUS",
        "MEXICO",
        "MICRONESIA",
        "MOZAMBIQUE",
        "NEVIS",
        "NEW BRITAIN",
        "NEW CALEDONIA",
        "NEW ZEALAND",
        "NICARAGUA",
        "OKINAWA",
        "PACIFIC OCEAN",
        "PALAU",
        "PANAMA",
        "PAPUA NEW GUINEA",
        "PHILIPPINES",
        "PORTUGAL",
        "REUNION",
        "RUSSIA",
        "SCOTLAND",
        "SEYCHELLES",
        "SOLOMON ISLANDS",
        "SOUTH AFRICA",
        "SOUTH KOREA",
        "SPAIN",
        "SRI LANKA",
        "ST. MAARTIN",
        "TAIWAN",
        "THAILAND",
        "TONGA",
        "TURKEY",
        "TURKS AND CAICOS",
        "UNITED ARAB EMIRATES",
        "UNITED ARAB EMIRATES (UAE)",
        "UNITED KINGDOM",
        "USA",
        "VANUATU",
        "VENEZUELA",
        "VIETNAM",
        "YEMEN",
      ],
      activityGroups: [
        "Accidents et Catastrophes",
        "Activités Nautiques Professionnelles",
        "Activités de Rivage",
        "Bain et Détente",
        "Natation et Plongée",
        "Observation et Interaction avec la Faune",
        "Pêche",
        "Recherche Scientifique",
        "Sauvetage",
        "Sports Aquatiques",
      ],
    };
  },
  methods: {
    handleSubmit() {
      this.loading = true;
      // Assembler les données du formulaire dans le format attendu par le backend
      const payload = {
        features: [this.form.country, this.form.act_group],
      };

      console.log(JSON.stringify(payload));
      // Utiliser axios pour envoyer les données au backend
      axios
        .post("http://localhost:3000/predict", payload)
        .then((response) => {
          console.log(response);
          this.loading = false;
          // Afficher le message ou la prédiction retournée par le backend
          this.message = `Prédiction reçue : ${response.data.prediction}`;
        })
        .catch((error) => {
          this.loading = false;
          console.error("Erreur lors de la requête:", error);
          this.message = "Erreur lors de l’envoi des données.";
        });
    },
  },
};
</script>

<style scoped>
.formulaire-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px 10px; /* Légèrement plus d'espace à l'intérieur */
  border: 1px solid #ccc; /* Couleur de bordure plus douce */
  border-radius: 5px; /* Bords arrondis */
  box-sizing: border-box;
  margin-top: 5px; /* Espace au-dessus du champ */
}

.form-group select {
  background-color: white;
  cursor: pointer; /* Affiche un curseur en forme de main pour indiquer qu'il s'agit d'un élément interactif */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.loading-message {
  text-align: center;
  margin-top: 20px;
}
</style>
