<template>
  <div class="graphique-container">
    <div
      v-for="(graphique, index) in graphiques"
      :key="index"
      class="graphique-item">
      <img :src="require(`@/assets/${graphique.image}`)" alt="Graphique" />
      <p>{{ graphique.description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      graphiques: [
        { image: "chart1.png", description: "Description du graphique 1" },
        { image: "chart2.png", description: "Description du graphique 2" },
        { image: "chart3.png", description: "Description du graphique 1" },
      ],
    };
  },
};
</script>

<style scoped>
.graphique-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.graphique-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.graphique-item:hover {
  transform: translateY(-10px);
}

.graphique-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.graphique-item p {
  padding: 15px;
  margin: 0;
}
</style>
