<template>
  <nav class="navbar">
    <router-link to="/">Graphique</router-link>
    <router-link to="/data-cleaning">Nettoyage des Données</router-link>
    <router-link to="/formulaire">Formulaire</router-link>
  </nav>
</template>

<style scoped>
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a.router-link-active {
  color: #4caf50;
}
</style>
